@media (prefers-color-scheme: dark) {
	.darkmode-allow header.has-background-light {
		background-color: #1F1F1F !important;
	}
	.darkmode-allow .dropdown-content {
		background-color: #121212;
	}
	.darkmode-allow a:hover {
		color: #3255dc;
	}
	.darkmode-allow .title {
		color: rgba(255, 255, 255, 0.6);
	}
	.darkmode-allow .subtitle {
		color: rgba(255, 255, 255, 0.6);
	}
	.darkmode-allow .wrapper {
		background-color: #121212;
	}
	.darkmode-allow main>.columns>.column {
		background-color: #1E1E1E;
	}
	.darkmode-allow p.subtitle,
	.darkmode-allow .pagination-link {
		color: rgba(255, 255, 255, 0.6);
	}
	.darkmode-allow .pagination-link>.selected {
		color: #BB86FC !important;
	}
	.darkmode-allow .footer {
		background-color: #1F1F1F !important;
		color: white;
	}
	.darkmode-allow #post {
		color: rgba(255, 255, 255, 0.6);
	}
	.darkmode-allow #post>#content,
	.darkmode-allow #post>#content p,
	.darkmode-allow #post>#content h6,
	.darkmode-allow #post>#content strong {
		color: rgba(255, 255, 255, 0.6);
	}
	.darkmode-allow #post>#content table td,
	.darkmode-allow #post>#content table th {
		border: 1px solid #565656;
		color: rgba(255, 255, 255, 0.6);
	}
	.darkmode-allow code {
		background-color: #121212 !important;
	}
	.darkmode-allow hr {
		background-color: #565656;
	}
	.darkmode-allow #post h1,
	.darkmode-allow #post h2{
		border-bottom-color: #565656;
	}
	.darkmode-allow .media-content>.content,
	.darkmode-allow .media-content>.content strong {
		color: rgba(255, 255, 255, 0.6);
	}
	.darkmode-allow .social-link {
		background-color: #121212 !important;
		border: 1px solid #121212;
	}
	.darkmode-allow .social-link i {
		color: white !important;
	}
	.darkmode-allow #post-info{
		color:hsl(0, 0%, 48%);
	}
	/* Tablet & Desktop Device */
	@media all and (min-width:768px) {
		.darkmode-allow .link-navbar>.divider {
			display: inline;
			border-left: 1px solid #424242 !important;
			border-right: 1px solid #424242 !important;
		}
	}
}