#post>#content .octicon {
    display: inline-block;
    fill: currentColor;
    vertical-align: text-bottom;
  }
  
  #post>#content .anchor {
    float: left;
    line-height: 1;
    margin-left: -20px;
    padding-right: 4px;
  }
  
  #post>#content .anchor:focus {
    outline: none;
  }
  
  #post>#content h1 .octicon-link,
  #post>#content h2 .octicon-link,
  #post>#content h3 .octicon-link,
  #post>#content h4 .octicon-link,
  #post>#content h5 .octicon-link,
  #post>#content h6 .octicon-link {
    color: #1b1f23;
    vertical-align: middle;
    visibility: hidden;
  }
  
  #post>#content h1:hover .anchor,
  #post>#content h2:hover .anchor,
  #post>#content h3:hover .anchor,
  #post>#content h4:hover .anchor,
  #post>#content h5:hover .anchor,
  #post>#content h6:hover .anchor {
    text-decoration: none;
  }
  
  #post>#content h1:hover .anchor .octicon-link,
  #post>#content h2:hover .anchor .octicon-link,
  #post>#content h3:hover .anchor .octicon-link,
  #post>#content h4:hover .anchor .octicon-link,
  #post>#content h5:hover .anchor .octicon-link,
  #post>#content h6:hover .anchor .octicon-link {
    visibility: visible;
  }
  
  #post>#content h1:hover .anchor .octicon-link:before,
  #post>#content h2:hover .anchor .octicon-link:before,
  #post>#content h3:hover .anchor .octicon-link:before,
  #post>#content h4:hover .anchor .octicon-link:before,
  #post>#content h5:hover .anchor .octicon-link:before,
  #post>#content h6:hover .anchor .octicon-link:before {
    width: 16px;
    height: 16px;
    content: ' ';
    display: inline-block;
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16' version='1.1' width='16' height='16' aria-hidden='true'%3E%3Cpath fill-rule='evenodd' d='M4 9h1v1H4c-1.5 0-3-1.69-3-3.5S2.55 3 4 3h4c1.45 0 3 1.69 3 3.5 0 1.41-.91 2.72-2 3.25V8.59c.58-.45 1-1.27 1-2.09C10 5.22 8.98 4 8 4H4c-.98 0-2 1.22-2 2.5S3 9 4 9zm9-3h-1v1h1c1 0 2 1.22 2 2.5S13.98 12 13 12H9c-.98 0-2-1.22-2-2.5 0-.83.42-1.64 1-2.09V6.25c-1.09.53-2 1.84-2 3.25C6 11.31 7.55 13 9 13h4c1.45 0 3-1.69 3-3.5S14.5 6 13 6z'%3E%3C/path%3E%3C/svg%3E");
  }#post>#content {
    -ms-text-size-adjust: 100%;
    -webkit-text-size-adjust: 100%;
    line-height: 1.5;
    color: #24292e;
    font-family: -apple-system,BlinkMacSystemFont,Segoe UI,Helvetica,Arial,sans-serif,Apple Color Emoji,Segoe UI Emoji;
    font-size: 16px;
    line-height: 1.5;
    word-wrap: break-word;
  }
  
  #post>#content details {
    display: block;
  }
  
  #post>#content summary {
    display: list-item;
  }
  
  #post>#content a {
    background-color: initial;
  }
  
  #post>#content a:active,
  #post>#content a:hover {
    outline-width: 0;
  }
  
  #post>#content strong {
    font-weight: inherit;
    font-weight: bolder;
  }
  
  #post>#content h1 {
    font-size: 2em;
    margin: .67em 0;
  }
  
  #post>#content img {
    border-style: none;
  }
  
  #post>#content hr {
    box-sizing: initial;
    height: 0;
    overflow: visible;
  }
  
  #post>#content input {
    font: inherit;
    margin: 0;
  }
  
  #post>#content input {
    overflow: visible;
  }
  
  #post>#content [type=checkbox] {
    box-sizing: border-box;
    padding: 0;
  }
  
  #post>#content * {
    box-sizing: border-box;
  }
  
  #post>#content input {
    font-family: inherit;
    font-size: inherit;
    line-height: inherit;
  }
  
  #post>#content a {
    color: #0366d6;
    text-decoration: none;
  }
  
  #post>#content a:hover {
    text-decoration: underline;
  }
  
  #post>#content strong {
    font-weight: 600;
  }
  
  #post>#content hr {
    height: 0;
    margin: 15px 0;
    overflow: hidden;
    background: transparent;
    border: 0;
    border-bottom: 1px solid #dfe2e5;
  }
  
  #post>#content hr:after,
  #post>#content hr:before {
    display: table;
    content: "";
  }
  
  #post>#content hr:after {
    clear: both;
  }
  
  #post>#content table {
    border-spacing: 0;
    border-collapse: collapse;
  }
  
  #post>#content td,
  #post>#content th {
    padding: 0;
  }
  
  #post>#content details summary {
    cursor: pointer;
  }
  
  #post>#content kbd {
    display: inline-block;
    padding: 3px 5px;
    font: 11px SFMono-Regular,Consolas,Liberation Mono,Menlo,monospace;
    line-height: 10px;
    color: #444d56;
    vertical-align: middle;
    background-color: #fafbfc;
    border: 1px solid #d1d5da;
    border-radius: 3px;
    box-shadow: inset 0 -1px 0 #d1d5da;
  }
  
  #post>#content h1,
  #post>#content h2,
  #post>#content h3,
  #post>#content h4,
  #post>#content h5,
  #post>#content h6 {
    margin-top: 0;
    margin-bottom: 0;
  }
  
  #post>#content h1 {
    font-size: 32px;
  }
  
  #post>#content h1,
  #post>#content h2 {
    font-weight: 600;
  }
  
  #post>#content h2 {
    font-size: 24px;
  }
  
  #post>#content h3 {
    font-size: 20px;
  }
  
  #post>#content h3,
  #post>#content h4 {
    font-weight: 600;
  }
  
  #post>#content h4 {
    font-size: 16px;
  }
  
  #post>#content h5 {
    font-size: 14px;
  }
  
  #post>#content h5,
  #post>#content h6 {
    font-weight: 600;
  }
  
  #post>#content h6 {
    font-size: 12px;
  }
  
  #post>#content p {
    margin-top: 0;
    margin-bottom: 10px;
  }
  
  #post>#content blockquote {
    margin: 0;
  }
  
  #post>#content ol,
  #post>#content ul {
    padding-left: 0;
    margin-top: 0;
    margin-bottom: 0;
  }
  
  #post>#content ol ol,
  #post>#content ul ol {
    list-style-type: lower-roman;
  }
  
  #post>#content ol ol ol,
  #post>#content ol ul ol,
  #post>#content ul ol ol,
  #post>#content ul ul ol {
    list-style-type: lower-alpha;
  }
  
  #post>#content dd {
    margin-left: 0;
  }
  
  #post>#content code,
  #post>#content pre {
    font-family: SFMono-Regular,Consolas,Liberation Mono,Menlo,monospace;
  }
  
  #post>#content pre {
    margin-top: 0;
    margin-bottom: 0;
  }
  
  #post>#content input::-webkit-inner-spin-button,
  #post>#content input::-webkit-outer-spin-button {
    margin: 0;
    -webkit-appearance: none;
    appearance: none;
  }
  
  #post>#content :checked+.radio-label {
    position: relative;
    z-index: 1;
    border-color: #0366d6;
  }
  
  #post>#content .border {
    border: 1px solid #e1e4e8!important;
  }
  
  #post>#content .border-0 {
    border: 0!important;
  }
  
  #post>#content .border-bottom {
    border-bottom: 1px solid #e1e4e8!important;
  }
  
  #post>#content .rounded-1 {
    border-radius: 3px!important;
  }
  
  #post>#content .bg-white {
    background-color: #fff!important;
  }
  
  #post>#content .bg-gray-light {
    background-color: #fafbfc!important;
  }
  
  #post>#content .text-gray-light {
    color: #6a737d!important;
  }
  
  #post>#content .mb-0 {
    margin-bottom: 0!important;
  }
  
  #post>#content .my-2 {
    margin-top: 8px!important;
    margin-bottom: 8px!important;
  }
  
  #post>#content .pl-0 {
    padding-left: 0!important;
  }
  
  #post>#content .py-0 {
    padding-top: 0!important;
    padding-bottom: 0!important;
  }
  
  #post>#content .pl-1 {
    padding-left: 4px!important;
  }
  
  #post>#content .pl-2 {
    padding-left: 8px!important;
  }
  
  #post>#content .py-2 {
    padding-top: 8px!important;
    padding-bottom: 8px!important;
  }
  
  #post>#content .pl-3,
  #post>#content .px-3 {
    padding-left: 16px!important;
  }
  
  #post>#content .px-3 {
    padding-right: 16px!important;
  }
  
  #post>#content .pl-4 {
    padding-left: 24px!important;
  }
  
  #post>#content .pl-5 {
    padding-left: 32px!important;
  }
  
  #post>#content .pl-6 {
    padding-left: 40px!important;
  }
  
  #post>#content .f6 {
    font-size: 12px!important;
  }
  
  #post>#content .lh-condensed {
    line-height: 1.25!important;
  }
  
  #post>#content .text-bold {
    font-weight: 600!important;
  }
  
  #post>#content .pl-c {
    color: #6a737d;
  }
  
  #post>#content .pl-c1,
  #post>#content .pl-s .pl-v {
    color: #005cc5;
  }
  
  #post>#content .pl-e,
  #post>#content .pl-en {
    color: #6f42c1;
  }
  
  #post>#content .pl-s .pl-s1,
  #post>#content .pl-smi {
    color: #24292e;
  }
  
  #post>#content .pl-ent {
    color: #22863a;
  }
  
  #post>#content .pl-k {
    color: #d73a49;
  }
  
  #post>#content .pl-pds,
  #post>#content .pl-s,
  #post>#content .pl-s .pl-pse .pl-s1,
  #post>#content .pl-sr,
  #post>#content .pl-sr .pl-cce,
  #post>#content .pl-sr .pl-sra,
  #post>#content .pl-sr .pl-sre {
    color: #032f62;
  }
  
  #post>#content .pl-smw,
  #post>#content .pl-v {
    color: #e36209;
  }
  
  #post>#content .pl-bu {
    color: #b31d28;
  }
  
  #post>#content .pl-ii {
    color: #fafbfc;
    background-color: #b31d28;
  }
  
  #post>#content .pl-c2 {
    color: #fafbfc;
    background-color: #d73a49;
  }
  
  #post>#content .pl-c2:before {
    content: "^M";
  }
  
  #post>#content .pl-sr .pl-cce {
    font-weight: 700;
    color: #22863a;
  }
  
  #post>#content .pl-ml {
    color: #735c0f;
  }
  
  #post>#content .pl-mh,
  #post>#content .pl-mh .pl-en,
  #post>#content .pl-ms {
    font-weight: 700;
    color: #005cc5;
  }
  
  #post>#content .pl-mi {
    font-style: italic;
    color: #24292e;
  }
  
  #post>#content .pl-mb {
    font-weight: 700;
    color: #24292e;
  }
  
  #post>#content .pl-md {
    color: #b31d28;
    background-color: #ffeef0;
  }
  
  #post>#content .pl-mi1 {
    color: #22863a;
    background-color: #f0fff4;
  }
  
  #post>#content .pl-mc {
    color: #e36209;
    background-color: #ffebda;
  }
  
  #post>#content .pl-mi2 {
    color: #f6f8fa;
    background-color: #005cc5;
  }
  
  #post>#content .pl-mdr {
    font-weight: 700;
    color: #6f42c1;
  }
  
  #post>#content .pl-ba {
    color: #586069;
  }
  
  #post>#content .pl-sg {
    color: #959da5;
  }
  
  #post>#content .pl-corl {
    text-decoration: underline;
    color: #032f62;
  }
  
  #post>#content .mb-0 {
    margin-bottom: 0!important;
  }
  
  #post>#content .my-2 {
    margin-bottom: 8px!important;
  }
  
  #post>#content .my-2 {
    margin-top: 8px!important;
  }
  
  #post>#content .pl-0 {
    padding-left: 0!important;
  }
  
  #post>#content .py-0 {
    padding-top: 0!important;
    padding-bottom: 0!important;
  }
  
  #post>#content .pl-1 {
    padding-left: 4px!important;
  }
  
  #post>#content .pl-2 {
    padding-left: 8px!important;
  }
  
  #post>#content .py-2 {
    padding-top: 8px!important;
    padding-bottom: 8px!important;
  }
  
  #post>#content .pl-3 {
    padding-left: 16px!important;
  }
  
  #post>#content .pl-4 {
    padding-left: 24px!important;
  }
  
  #post>#content .pl-5 {
    padding-left: 32px!important;
  }
  
  #post>#content .pl-6 {
    padding-left: 40px!important;
  }
  
  #post>#content .pl-7 {
    padding-left: 48px!important;
  }
  
  #post>#content .pl-8 {
    padding-left: 64px!important;
  }
  
  #post>#content .pl-9 {
    padding-left: 80px!important;
  }
  
  #post>#content .pl-10 {
    padding-left: 96px!important;
  }
  
  #post>#content .pl-11 {
    padding-left: 112px!important;
  }
  
  #post>#content .pl-12 {
    padding-left: 128px!important;
  }
  
  #post>#content hr {
    border-bottom-color: #eee;
  }
  
  #post>#content kbd {
    display: inline-block;
    padding: 3px 5px;
    font: 11px SFMono-Regular,Consolas,Liberation Mono,Menlo,monospace;
    line-height: 10px;
    color: #444d56;
    vertical-align: middle;
    background-color: #fafbfc;
    border: 1px solid #d1d5da;
    border-radius: 3px;
    box-shadow: inset 0 -1px 0 #d1d5da;
  }
  
  #post>#content:after,
  #post>#content:before {
    display: table;
    content: "";
  }
  
  #post>#content:after {
    clear: both;
  }
  
  #post>#content>:first-child {
    margin-top: 0!important;
  }
  
  #post>#content>:last-child {
    margin-bottom: 0!important;
  }
  
  #post>#content a:not([href]) {
    color: inherit;
    text-decoration: none;
  }
  
  #post>#content blockquote,
  #post>#content details,
  #post>#content dl,
  #post>#content ol,
  #post>#content p,
  #post>#content pre,
  #post>#content table,
  #post>#content ul {
    margin-top: 0;
    margin-bottom: 16px;
  }
  
  #post>#content hr {
    height: .25em;
    padding: 0;
    margin: 24px 0;
    background-color: #e1e4e8;
    border: 0;
  }
  
  #post>#content blockquote {
    padding: 0 1em;
    color: #6a737d;
    border-left: .25em solid #dfe2e5;
  }

  
  #post>#content h1,
  #post>#content h2,
  #post>#content h3,
  #post>#content h4,
  #post>#content h5,
  #post>#content h6 {
    margin-top: 24px;
    margin-bottom: 16px;
    font-weight: 600;
    line-height: 1.25;
  }
  
  #post>#content h1 {
    font-size: 2em;
  }
  
  #post>#content h1,
  #post>#content h2 {
    padding-bottom: .3em;
    border-bottom: 1px solid #eaecef;
  }
  
  #post>#content h2 {
    font-size: 1.5em;
  }
  
  #post>#content h3 {
    font-size: 1.25em;
  }
  
  #post>#content h4 {
    font-size: 1em;
  }
  
  #post>#content h5 {
    font-size: .875em;
  }
  
  #post>#content h6 {
    font-size: .85em;
    color: #6a737d;
  }
  
  #post>#content ol,
  #post>#content ul {
    padding-left: 2em;
  }
  
  #post>#content ol ol,
  #post>#content ol ul,
  #post>#content ul ol,
  #post>#content ul ul {
    margin-top: 0;
    margin-bottom: 0;
  }
  
  #post>#content li {
    word-wrap: break-all;
  }
  
  #post>#content li>p {
    margin-top: 16px;
  }
  
  #post>#content li+li {
    margin-top: .25em;
  }
  
  #post>#content dl {
    padding: 0;
  }
  
  #post>#content dl dt {
    padding: 0;
    margin-top: 16px;
    font-size: 1em;
    font-style: italic;
    font-weight: 600;
  }
  
  #post>#content dl dd {
    padding: 0 16px;
    margin-bottom: 16px;
  }
  
  #post>#content table {
    display: block;
    width: 100%;
    overflow: auto;
  }
  
  #post>#content table th {
    font-weight: 600;
  }
  
  #post>#content table td,
  #post>#content table th {
    padding: 6px 13px;
    border: 1px solid #dfe2e5;
  }
  
  #post>#content table tr {
    background-color: #fff;
    border-top: 1px solid #c6cbd1;
  }
  
  #post>#content table tr:nth-child(2n) {
    background-color: #f6f8fa;
  }
  
  #post>#content img {
    max-width: 100%;
    box-sizing: initial;
    background-color: #fff;
  }
  
  #post>#content img[align=right] {
    padding-left: 20px;
  }
  
  #post>#content img[align=left] {
    padding-right: 20px;
  }
  
  #post>#content .commit-tease-sha {
    display: inline-block;
    font-family: SFMono-Regular,Consolas,Liberation Mono,Menlo,monospace;
    font-size: 90%;
    color: #444d56;
  }
  
  #post>#content .full-commit .btn-outline:not(:disabled):hover {
    color: #005cc5;
    border-color: #005cc5;
  }
  
  #post>#content .blob-wrapper {
    overflow-x: auto;
    overflow-y: hidden;
  }
  
  #post>#content .blob-wrapper-embedded {
    max-height: 240px;
    overflow-y: auto;
  }
  
  #post>#content .blob-num {
    width: 1%;
    min-width: 50px;
    padding-right: 10px;
    padding-left: 10px;
    font-family: SFMono-Regular,Consolas,Liberation Mono,Menlo,monospace;
    font-size: 12px;
    line-height: 20px;
    color: rgba(27,31,35,.3);
    text-align: right;
    white-space: nowrap;
    vertical-align: top;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
  }
  
  #post>#content .blob-num:hover {
    color: rgba(27,31,35,.6);
  }
  
  #post>#content .blob-num:before {
    content: attr(data-line-number);
  }
  
  #post>#content .blob-code {
    position: relative;
    padding-right: 10px;
    padding-left: 10px;
    line-height: 20px;
    vertical-align: top;
  }
  
  #post>#content .blob-code-inner {
    overflow: visible;
    font-family: SFMono-Regular,Consolas,Liberation Mono,Menlo,monospace;
    font-size: 12px;
    color: #24292e;
    word-wrap: normal;
    white-space: pre;
  }
  
  #post>#content .pl-token.active,
  #post>#content .pl-token:hover {
    cursor: pointer;
    background: #ffea7f;
  }
  
  #post>#content .tab-size[data-tab-size="1"] {
    -moz-tab-size: 1;
    tab-size: 1;
  }
  
  #post>#content .tab-size[data-tab-size="2"] {
    -moz-tab-size: 2;
    tab-size: 2;
  }
  
  #post>#content .tab-size[data-tab-size="3"] {
    -moz-tab-size: 3;
    tab-size: 3;
  }
  
  #post>#content .tab-size[data-tab-size="4"] {
    -moz-tab-size: 4;
    tab-size: 4;
  }
  
  #post>#content .tab-size[data-tab-size="5"] {
    -moz-tab-size: 5;
    tab-size: 5;
  }
  
  #post>#content .tab-size[data-tab-size="6"] {
    -moz-tab-size: 6;
    tab-size: 6;
  }
  
  #post>#content .tab-size[data-tab-size="7"] {
    -moz-tab-size: 7;
    tab-size: 7;
  }
  
  #post>#content .tab-size[data-tab-size="8"] {
    -moz-tab-size: 8;
    tab-size: 8;
  }
  
  #post>#content .tab-size[data-tab-size="9"] {
    -moz-tab-size: 9;
    tab-size: 9;
  }
  
  #post>#content .tab-size[data-tab-size="10"] {
    -moz-tab-size: 10;
    tab-size: 10;
  }
  
  #post>#content .tab-size[data-tab-size="11"] {
    -moz-tab-size: 11;
    tab-size: 11;
  }
  
  #post>#content .tab-size[data-tab-size="12"] {
    -moz-tab-size: 12;
    tab-size: 12;
  }
  
  #post>#content .task-list-item {
    list-style-type: none;
  }
  
  #post>#content .task-list-item+.task-list-item {
    margin-top: 3px;
  }
  
  #post>#content .task-list-item input {
    margin: 0 .2em .25em -1.6em;
    vertical-align: middle;
  }